<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <mongo:repositories base-package="cosbas.db.repositories" />

    <mongo:mongo port="${mongo.port}" host="${mongo.address}"/>

    <bean id="mongoCredentials" class="org.springframework.data.authentication.UserCredentials">
        <constructor-arg name="username" value="${mongo.user}"/>
        <constructor-arg name="password" value="${mongo.password}" />
    </bean>

    <!-- MongoTemplate for connecting and querying the documents in the database -->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongo" ref="mongo" />
        <constructor-arg name="databaseName" value="${mongo.database}" />
        <constructor-arg name="userCredentials" ref="mongoCredentials" />
    </bean>

    <!-- Bean to send our emails through the gmail smtp server -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="protocol" value="smtps"/>
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="465"/>
        <property name="username" value="cosbasup@gmail.com"/>
        <property name="password" value="bioPass123" />
    </bean>

    <!-- Template Email for the visitor -->
    <bean id="visitorTemplateMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="cosbasup@gmail.com"/>
        <property name="subject" value="COSBAS Appointment Requested"/>
    </bean>

    <bean id="staffTemplateMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="cosbasup@gmail.com"/>
        <property name="subject" value="COSBAS Appointment Requested"/>
    </bean>

    <bean id="emailManager" class="cosbas.notifications.Email">
        <property name="mailSender" ref="mailSender"/>
        <property name="visitorTemplateMessage" ref="visitorTemplateMessage"/>
        <property name="staffTemplateMessage" ref="staffTemplateMessage"/>
    </bean>

</beans>