<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="rolloverLogFile" fileName="logs/logging.log" filePattern="logs/logging-%d{yyyy-MM-dd}-%i.log"  append="true">
            <PatternLayout>
                <Pattern>%d %p %c %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="2"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="rolloverLogFile"/>
        </Root>
    </Loggers>
</Configuration>