footer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

#footer
{
	background: #003366;
}

::selection {
  background: #003366;
  color: #fff;
}

.btn-common {
    background: #003366;
}

#contact .contact-form .controls i {
	color: #003366;
	border: 1px solid #003366;
}

#contact .contact-form .controls input.contact_input {
	border: 1px solid #003366;
}

#header .nav li a {
	color: #003366;
}

#header .nav li.active a:after, #header .nav li.active a, #header .nav li a:hover::after, #header .nav li a:hover, #header .nav li a:focus
{
	color: #cccc99;
}

#header .nav li.active a:after, #header .nav li.active a, #header .nav li a:hover::after, #header .nav li a:hover, #header .nav li a:focus {
	color: #cccc99;
}


#header .nav li.active a:after, #header .nav li.active a, #header .nav li a:hover::after, #header .nav li a:hover, #header .nav li a:focus {
	color: #cccc99;
}

#header .nav li a:after {
	border-bottom: 2px solid #cccc99;
}

#header .main-navigation {
	border-bottom: 2px solid #003366;
}

#contact {
    background: #fff;
}

#contact .section-title span
{
    color: #cccc99;
}

.section-title {
    color: #003366;
    padding: 90px 20px;
    padding-bottom: 48px;
}

.btn-success {

background: #cccc99;
}

.date_input{
    color: #000;
    background-color: #ffffff;
    border: 1px solid #003366;
    font-size: 14px;
    font-weight: 300;
    height: 48px;
    padding: 0;
    width: 28.5%;
    border: 1px solid #003366
}

#appointmentDate i
{
    font-size: 18px;
    color: #0BAFA0;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    padding: 12px;
    text-align: center;
    border: 1px solid #003366;
}