

body
{
    visibility:hidden;
}

.fa-bars
{
    color: white;
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}

#contact
{
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 100px; /* .push must be the same height as .footer */
    padding: 2em;
}


.footer
{
    background: #003366;
    color: white;
}


.section-title
{
    font-size: 18pt;
}



#header .main-navigation
{
    background: #003366;
}

#footer
{
    position: fixed;
    bottom: 0;
   // min-height: 230px;
	background: #003366;
}

::selection {
  background: #003366;
  color: #fff;
}

.btn-common {
    background: #003366;
}

#contact .contact-form .controls i {
	color: #003366;
	border: 1px solid #003366;
}

#contact .contact-form .controls input.contact_input {
	border: 1px solid #003366;
}

#header .nav li a {
	color: #fff;
}

#header .nav li.active a:after, #header .nav li.active a, #header .nav li a:hover::after, #header .nav li a:hover, #header .nav li a:focus
{
	color: #cccc99;
}

#header .nav li.active a:after, #header .nav li.active a, #header .nav li a:hover::after, #header .nav li a:hover, #header .nav li a:focus {
	color: #cccc99;
}


#header .nav li.active a:after, #header .nav li.active a, #header .nav li a:hover::after, #header .nav li a:hover, #header .nav li a:focus {
	color: #cccc99;
}

#header .nav li a:after {
	border-bottom: 2px solid #cccc99;
}

#header .main-navigation {
	border-bottom: 2px solid #003366;
}

#contact {
    background-color: rgba(200,200,200,0.0);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

#contact .section-title span
{
    color: #cccc99;
}

.alert
{
    padding: 64px 20px;
    font-size: 1.5em;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
    padding: 0;
}

.cal
{
    padding: 90px 0px;
    padding-bottom: 10px;
}
.section-title {
    color: #003366;
    padding: 64px 20px;
}

.controls
{
    padding-bottom: 0px;
}

.btn-success {

background: #cccc99;
}

.date_input{
    color: #000;
    background-color: #ffffff;
    border: 1px solid #003366;
    font-size: 14px;
    font-weight: 300;
    height: 48px;
    padding: 0;
    width: 28.5%;
    border: 1px solid #003366
}

#appointmentDate i
{
    font-size: 18px;
    color: #0BAFA0;
    background-color: #ffffff;
    padding: 12px;
    text-align: center;
    border: 1px solid #003366;
}
#contact .contact-form .btn
{
    width:100%;
}

#footer .copyright
{
    border-top: 0;
}

.row {
    margin-left: 0;
}

.form_control
{
    color: #000;
    background-color: #ffffff;
    float: left;
    border: 1px solid #0BAFA0;
    font-size: 14px;
    font-weight: 300;
    height: 48px;
    padding: 0 12px;
    width: 80%;
    border: 1px solid #003366;
    line-height: normal;
    margin: 0;
    box-sizing: border-box;

}

#appointmentData
{
    color: #000;
        background-color: #ffffff;
        float: left;
        border: 1px solid #0BAFA0;
        font-size: 14px;
        font-weight: 300;
        height: 48px;
        padding: 0 12px;
        width: 100%;
        border: 1px solid #003366;
        line-height: normal;
        margin: 0;
        box-sizing: border-box;
}

#contact .contact-form .controls select.contact_input {
    border: 1px solid #003366;
}

body
{
    background: url('images/bg.png');
}

.btnLightbox {
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 10px 20px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0;
    background: #003366;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    padding: 15px;
}

#calendar
{
    width: 100%;
    background-color: #ffff;
}

table {

    background-color: white;
}

.fc th, .fc td {

    border: 1px solid grey;
}

.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {

    border-color: grey;
}



#appointmentsTable
{

}

#appointmentsTable th, td
{
    padding: 1em;
}

.contactA
{
    width: 90%;
}

.approveBtn {
    border: 0px;
    background-color: #fff;
    cursor: pointer;
    outline: 0;

    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius:none;
     -webkit-box-shadow:none;
     box-shadow: none;
     -webkit-transition: none;
    -o-transition:none;
    transition: none;
}

.denyBtn {
     border: 0px;
     background-color: #fff;
     cursor: pointer;
     outline: 0;

     display: block;
     width: 100%;
     height: auto;
     padding: 6px 12px;
     font-size: 14px;
     line-height: 1.42857143;
     color: #555;
     background-color: #fff;
     background-image: none;
     border: none;
     border-radius:none;
      -webkit-box-shadow:none;
      box-shadow: none;
      -webkit-transition: none;
     -o-transition:none;
     transition: none;
 }

.approveBtn:focus {
    border: 0px;
    background-color: #fff;
    cursor: pointer;
    outline: 0;

    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius:none;
     -webkit-box-shadow:none;
     box-shadow: none;
     -webkit-transition: none;
    -o-transition:none;
    transition: none;
}
.denyBtn:focus {
    border: 0px;
    background-color: #fff;
    cursor: pointer;
    outline: 0;

    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius:none;
     -webkit-box-shadow:none;
     box-shadow: none;
     -webkit-transition: none;
    -o-transition:none;
    transition: none;
}





.dropdown-menu
{
    background:#003366;
    width: 200%;
    padding: 1em;
    min-width: 250px;
}

@media (max-width: 1024px) and (min-width: 768px)
#header .navbar-brand img {
    padding: 0;
}

@media (max-width: 1024px) and (min-width: 768px)
#header .navbar-brand img {
    padding: 0;

}

/*
#contact .contact-form .btn {

width: 100%;
}
*/
#contact .contact-form .controls input.contact_input {
    width: 85%;
}

label
{
    width: 15%;
}

label >  i {
    width: 100%;
}
/*


.fadeInLeft > .controls > .contact_input  {
    float: left;
}

.fadeInRight > .controls > .contact_input  {
    float: right;
}

.fadeInRight > .controls > .fa  {
    float: right;
}*/


nav{
    float: left;
}

h2
{
    margin-top: 0;
    text-align: center;
}



.todayAppoint
{
    padding: 2em;

}

.errorIn
{
    background: #fff;
    border: 1px solid lightgrey;
}

.alert
{
    text-align: center;
}
.alert > strong
{
    font-size: 1em;
}

.btn-common
{
        color: white;
        cursor: pointer;
        display: inline-block;
        margin: 10px 20px;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin: 0;
        background: #003366;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 100%;
        padding: 15px;
}

#dayAppointments
{
    visibility: hidden;
    display:none;
}

.featherlight-close
{
    visibility: hidden;
    display:none;
}