<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>Approve/Deny Appointment</title>
	</head>
	<body>
	<header th:replace="menu :: navigation"></header>
	<section id="contact">
		<div class="overlay">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Approve or Deny</span> Appointments</h1>

				<div class="row">
					<div class="contact-form">
						<form role="form" method="post">
							<div class="col-md-8 col-md-offset-2 wow fadeInRight" data-wow-delay="0.2s">
								<div class="controls">
									<p class="text-left">Deny All Appointments:</p>
									<input type="Button" class="contact_input contactA" value="Deny all" id="DenyAll"/>
									<label for="DenyAll"><i class="fa fa-user"></i></label>
								</div>
								<br/>
							</div>
							<div class="col-md-8 col-md-offset-2 wow fadeInRight" data-wow-delay="0.2s">
								<div class="controls" id="fieldset">
									<!--<p class="text-left">Reason for Appointment:</p>
                                <i class="fa fa-question"></i>
                                    <a href="#">To top</a>-->
								</div>
								<div class="controls" id="reason">
									<!--<p class="text-left">Reason for Appointment:</p>
                                <i class="fa fa-question"></i>
                                    <a href="#">To top</a>-->
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="push"></div>
	</section>
	<object th:include="footer" th:remove="tag"/>


	<!-- Include Bootstrap plugin -->
	<script src="resources/assets/js/bootstrap.min.js"></script>
	<!-- One page Nav plugin -->
	<script src="resources/assets/js/jquery.nav.js"></script>
	<!-- Include Bootstrap plugin -->
	<script src="resources/assets/js/owl.carousel.js"></script>
	<!-- Include wow plugin -->
	<script src="resources/assets/js/wow.js"></script>
	<!-- Include mixitup plugin -->
	<script src="resources/assets/js/jquery.mixitup.js"></script>
	<!-- ScrollTop -->


	<!-- preset js -->
	<script src="resources/assets/js/style.changer.js"></script>
	<!-- Modernizr js -->
	<script src="resources/assets/js/modernizr-2.8.0.main.js"></script>
	<!-- Main js -->
	<script src="resources/assets/js/main.js"></script>
	<script src="resources/scripts/custom/approveAppointment.js"></script>
	</body>
</html>