<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>Approve/Deny Appointment</title>
	</head>
	<body>
		<nav th:replace="menu :: navigation"></nav>
		<br/>
		<div>
			<a href="#">
				<center><img class="img-responsive" src="/resources/css/images/Logo.png" alt="COSBAS Logo" width="300" /></center>
			</a>
		</div>
		<br/>
		<div class="row">
			<div>
				<div class="cosbasLogin">
					<div class="text-center" id="signIn"><span class="glyphicon glyphicon-info-sign"></span> Approve or Deny Appointments</div>
					<br/>
					<form>
						<input type = "Button" value="Deny all" id="DenyAll"/>
						<fieldset id="fieldset">
							
						</fieldset>
						<a href="#">To top</a>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>