<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>Cancel Appointment</title>
	</head>
	<body>
	<header th:replace="menu :: navigation"></header>
	<br/>
	<br/>
	<section id="contact">
		<div class="overlay">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Cancel</span> Appointment</h1>

				<div class="row">
					<div class="contact-form">
						<form role="form" method="post" th:action="@{/login}">
							<div class="col-sm-6 col-md-6 wow fadeInLeft" data-wow-delay="0.2s">
								<div class="controls" id="appointmentCancel">
									<p class="text-left">Appointment ID:</p>
									<input class="contact_input" type="string" name="appointmentID" id="appointmentID"/>
									<i class="fa fa-user"></i>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 wow fadeInRight" data-wow-delay="0.2s">
								<div class="controls" id="appointmentCancellee">
									<p class="text-left">Appointment cancelled by (your email):</p>
									<input class="contact_input" type="string" name="cancelBy" id="cancelBy"/>
									<i class="fa fa-user"></i>
								</div>
							</div>
							<div class="col-sm-6 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
								<button type="submit" class="btn btn-common" id="cancelAppointment">Cancel Appointment
								</button>
							</div>
						</form>
					</div>
				</div>
				</div>
			</div>
	</section>

	<footer id="footer">
		<div class="container">
			<div class="copyright text-center">
				<p>&copy; University of Pretoria, Department of Computer Science</p>
			</div>
		</div>
	</footer>

	<!-- Include Bootstrap plugin -->
	<script src="resources/assets/js/bootstrap.min.js"></script>
	<!-- One page Nav plugin -->
	<script src="resources/assets/js/jquery.nav.js"></script>
	<!-- Include Bootstrap plugin -->
	<script src="resources/assets/js/owl.carousel.js"></script>
	<!-- Include wow plugin -->
	<script src="resources/assets/js/wow.js"></script>
	<!-- Include mixitup plugin -->
	<script src="resources/assets/js/jquery.mixitup.js"></script>
	<!-- ScrollTop -->


	<!-- preset js -->
	<script src="resources/assets/js/style.changer.js"></script>
	<!-- Modernizr js -->
	<script src="resources/assets/js/modernizr-2.8.0.main.js"></script>
	<!-- Main js -->
	<script src="resources/assets/js/main.js"></script>
	</body>
</html>