<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>Cancel Appointment</title>
	</head>
	<body>
		<nav th:replace="menu :: navigation"></nav>
		<h1 class="text-center">Cancel an appointment</h1>
		<form class="col-lg-offset-4">
			<label>Appointment ID: </label>
			<input type="string" name="appointmentID"/>
			<br/>
			<label>Appointment cancelled by(Your name): </label>
			<input type="text" name="appointmentBy"/>
			<br/>
			<input type="submit" value="Cancel Appointment"/>
		</form>
	</body>
</html>