<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>Change Permissions</title>
	</head>
	<body>
	<header th:replace="menu :: navigation"></header>
	<br/>
	<br/>
	<section id="contact">
		<div class="overlay">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Change</span> Permissionss</h1>
				<div class="row">
					<div class="contact-form">
						<form role="form" method="post">
							<div class="col-md-8 col-md-offset-2 wow fadeInRight" data-wow-delay="0.2s">
								<h2 id="permissionAuthorization" class="section-title wow fadeIn"
														   data-wow-delay=".2s"><span>You are not authorized</span> to change permissions</h2>
								<div id="permissionForm">
									<label for="users">User: </label><select id="users" name = "users">

									</select>
									<label for="permissions">Permissions: </label><div id="permissions" name="permissions">
										
									</div>
									<label for="newPermission">New Permission: </label><select id="newPermissions" name="newPermission">

									</select>
									<button type="submit" id="update" class="btn btn-common">
										Add Permission
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

		<div class="push"></div>

	</section>
	<footer class="footer">
		<div class="container">
			<div class="copyright text-center">
				<p>&copy; University of Pretoria, Department of Computer Science</p>
			</div>
		</div>
	</footer>

	<script src="resources/scripts/custom/changePermissions.js"></script>
	</body>
</html>