<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>Error Occurred</title>
	</head>
	<body>
		<nav th:replace="menu :: navigation"></nav>
		<div>
			<a href="#">
				<center><img class="img-responsive" src="/resources/css/images/Logo.png" alt="COSBAS Logo" width="300" /></center>
			</a>
		</div>
		<div class="row">
			<div>
				<div class="cosbasLogin">
					<!--Can take this out and login error don't work or leave it in and it works>
					<div th:if="${#httpServletRequest.getAttribute('javax.servlet.error.status_code') == 500}"><script>window.location.href = "/login?error=1"</script></div-->
					<div class="text-center" id="signIn"><span class="glyphicon glyphicon-info-sign"></span>
						Unfortunately an error has occured on the server.
						<br/>
						Status code <span th:text="${#httpServletRequest.getAttribute('javax.servlet.error.status_code')}" th:unless="${#httpServletRequest == null}"></span>
						<br/>
						<span th:text="${#httpServletRequest.getAttribute('javax.servlet.error.exception')}" th:unless="${#httpServletRequest == null}"></span>
						<!--br/>
   						Request send to server: <span th:text="${#httpServletRequest}" th:unless="${#httpServletRequest == null}"></span-->
   					</div>
				</div>
			</div>
		</div>
	</body>
</html>