<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>Error Occurred</title>
	</head>
	<body>
		<nav th:replace="menu :: navigation"></nav>
		<div>
			<a href="#">
				<center><img class="img-responsive" src="/resources/css/images/Logo.png" alt="COSBAS Logo" width="300" /></center>
			</a>
		</div>
		<div class="row">
			<div>
				<div class="cosbasLogin">
					<div class="text-center" id="signIn"><span class="glyphicon glyphicon-info-sign"></span> Unfortunately an error has occured on the server. Please try again.</div>
			<p th:text="${#httpServletRequest.getAttribute('javax.servlet.error.status_code')}" th:unless="${#httpServletRequest == null}">Test</p>
			<p th:text="${#httpServletRequest.getAttribute('javax.servlet.error.exception')}" th:unless="${#httpServletRequest == null}">Test</p>
   <p th:text="${#httpServletRequest}" th:unless="${#httpServletRequest == null}">Test</p>
					<br/>
				</div>
			</div>
		</div>
	</body>
</html>