<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spring="http://java.sun.com/xml/ns/javaee">
	<head th:fragment="header">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="resources/css/jquery.timepicker.css"/>
		<link rel="stylesheet" type="text/css" href="resources/css/jquery-ui.css"/>
		<link rel='stylesheet' type='text/css' href='resources/css/fullcalendar.css' />

  		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script type="text/javascript" src="resources/scripts/jquery.js"></script>
		<script type="text/javascript" src="resources/scripts/jquery.datepair.js"></script>  		
  		<script type="text/javascript" src="resources/scripts/jquery.timepicker.js"></script>
  		<script type="text/javascript" src="resources/scripts/Datepair.js"></script>
	<script type="text/javascript" src="resources/scripts/jquery-ui.js"></script>
 		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 		<script type='text/javascript' src='resources/scripts/moment.js'></script>
		<script type='text/javascript' src='resources/scripts/fullcalendar.min.js'></script>

		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>	
	<body></body>
</html>