<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>COSBAS Service</title>
	</head>
	<body>
	<header th:replace="menu :: navigation"></header>
	<section id="contact">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeInLeft cal ">
						<div id="calendar"><h2 id="loadingCalendar" class="section-title wow fadeIn"
											   data-wow-delay=".2s"><span>Busy Loading</span> Calendar</h2></div>
					</div>
					<div class="col-md-6 wow fadeInRight todayAppoint" id="dayAppointments">
						<h2>Today's appointments</h2>
					</div>
					<div class="col-md-12 wow fadeInLeft">
						<button id="todayAppointBtn" class="btn-common"><i class="fa fa-calendar-plus-o"></i> Check
							Today's Appointments
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="push"></div>
	</section>
	<object th:include="footer" th:remove="tag"/>

	<!-- Include Bootstrap plugin -->
	<script src="resources/assets/js/bootstrap.min.js"></script>
	<!-- One page Nav plugin -->
	<script src="resources/assets/js/jquery.nav.js"></script>
	<!-- Include Bootstrap plugin -->
	<script src="resources/assets/js/owl.carousel.js"></script>
	<!-- Include wow plugin -->
	<script src="resources/assets/js/wow.js"></script>
	<!-- Include mixitup plugin -->
	<script src="resources/assets/js/jquery.mixitup.js"></script>
	<!-- ScrollTop -->


	<!-- preset js -->
	<script src="resources/assets/js/style.changer.js"></script>
	<!-- Modernizr js -->
	<script src="resources/assets/js/modernizr-2.8.0.main.js"></script>
	<!-- Main js -->
	<script src="resources/assets/js/main.js"></script>
	<script src="resources/scripts/custom/index.js"></script>
	</body>
</html>