<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>COSBAS Service</title>
	</head>
	<body>
		<nav th:replace="menu :: navigation"></nav>
		<br/>
		<div>
			<a href="#">
				<center><img class="img-responsive" src="/resources/css/images/Logo.png" alt="COSBAS Logo" width="300" /></center>
			</a>
		</div>
		<h1 class="text-center">COSBAS Service</h1>
		<div class="col-lg-9">
			<h3>Months's appointments</h3>
			<div id="calendar"></div>
			
		</div>
		<div class="col-lg-3" id="dayAppointments">
			<h3>Today's appointments</h3>
		</div>
	</body>
</html>