<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="head :: header" th:remove="tag"/>
    <title>Login</title>
</head>
<body>
<!--/div>
<div th:if="${#httpServletRequest.remoteUser != null}">
    <div>
        <a href="#">
            <center><img class="img-responsive" src="/resources/css/images/Logo.png" alt="COSBAS Logo" width="300" /></center>
        </a>
    </div>
    <h1 class="text-center">COSBAS Service</h1>
    <div class="col-lg-9">Show calander here</div>
    <div class="col-lg-3">Show selected day's appointments and requested appointments</div>
</div-->
<header th:replace="menu :: navigation"></header>
<section id="contact">
    <div class="overlay">
        <div class="container">
            <h1 class="section-title wow fadeIn" data-wow-delay=".2s" id="signIn"
                th:if="!${param.logout} AND !${param.error}"><span
                    class="glyphicon glyphicon-info-sign"></span><br/><span>Log</span> In</h1>

            <h1 class="section-title wow fadeIn" data-wow-delay=".2s" id="signIn" th:if="${param.error}"><span
                    class="glyphicon glyphicon-info-sign"></span><br/><span>Invalid Username</span> Or Password</h1>

            <h1 class="section-title wow fadeIn" data-wow-delay=".2s" id="signIn" th:if="${param.logout}"><span
                    class="glyphicon glyphicon-info-sign"></span><br/><span>Logged</span> Out</h1>

            <div class="row">
                <div class="contact-form">
                    <form role="form" method="post" th:action="@{/login}">
                        <div class="col-sm-6 col-md-6 wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="controls">
                                <p class="text-left">EMPLID</p>
                                <i class="fa fa-user"></i>
                                <input class="contact_input" name="username" type="text"
                                       required="required" autofocus="autofocus" value="u0000000"/>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 wow fadeInRight" data-wow-delay="0.2s">
                            <div class="controls">
                                <p class="text-left">Password</p>
                                <i class="fa fa-user"></i>
                                <input class="contact_input" name="password" type="password" value="password"
                                       required="required"/>

                            </div>
                        </div>
                        <div class="col-md-12  wow fadeInUp" data-wow-delay="0.5s">
                            <button type="submit" class="btn btn-common">Sign
                                In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>
<object th:include="footer" th:remove="tag"/>

<!-- Include Bootstrap plugin -->
<script src="resources/assets/js/bootstrap.min.js"></script>
<!-- One page Nav plugin -->
<script src="resources/assets/js/jquery.nav.js"></script>
<!-- Include Bootstrap plugin -->
<script src="resources/assets/js/owl.carousel.js"></script>
<!-- Include wow plugin -->
<script src="resources/assets/js/wow.js"></script>
<!-- Include mixitup plugin -->
<script src="resources/assets/js/jquery.mixitup.js"></script>
<!-- ScrollTop -->


<!-- preset js -->
<script src="resources/assets/js/style.changer.js"></script>
<!-- Modernizr js -->
<script src="resources/assets/js/modernizr-2.8.0.main.js"></script>
<!-- Main js -->
<script src="resources/assets/js/main.js"></script>
</body>
</html>