<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>Make Appointment</title>
	</head>
	<body>
		<nav th:replace="menu :: navigation"></nav>
		<br/>
		<div>
			<a href="#">
				<center><img class="img-responsive" src="/resources/css/images/Logo.png" alt="COSBAS Logo" width="300" /></center>
			</a>
		</div>
		<br/>
		<div class="row">
			<div>
				<div class="cosbasLogin">
					<div class="text-center" id="signIn"><span class="glyphicon glyphicon-info-sign"></span> Request an appointment</div>
					<br/>
					<form method="post">
						<fieldset>
							<div class="form-group">
								<p class="text-left">Appointment with:</p>
								<select class="form-control" id="appointmentWith" name="appointmentWith">
									<option>
										Staff member
									</option>
									<option>
										Prof. Goodman
									</option>
								</select>
							</div>
							<div class="form-group" id="appointmentDate">
								<p class="text-left">Date and Time of the meeting:</p>
								<input class="form-control" type="datetime-local" id="requestedDateTime" name="requestedDateTime" step="60"/>
							</div>
							<div class="form-group" id="membersNum">
								<p class="text-left">Number of members making the appointment: </p>
								<input type="number" min="1" value="1" id="numMembers" name="numMembers"/>
							</div>
							<div class="form-group" id="appointmentMadeBy">
								<div class="appointmentDetails">
									<p class="text-left">Appointment made by (your name/team members' names): </p>
									<input class="form-control appointmentBy" type="text" name="appointmentBy[]"/>
									<p class="text-left">Your/team members' email:</p>
									<input class="form-control email" type="email" id="email" name="email"/>
								</div>
							</div>
							<div class="form-group" id="reason">
								<p class="text-left">Reason for appointment: </p>
								<input class="form-control" type="text" id="appointmentReason" name="appointmentReason"/>
							</div>
							<div class="form-group" id="duration">
								<p class="text-left">Duration of appointment: </p>
								<input class="form-control" type="number" min="15" step="15" id="appointmentDuration" name="appointmentDuration" value="15"/>
							</div>
							<br/>
							<div>
								<button type="submit" class="btn btn-sm btn-success" id="makeAppointmentRequest">Request Appointment</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>