<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<nav class="navbar navbar-default" th:fragment="navigation">
			<div class="navbar-header">
      			<a class="navbar-brand" href="#">COSBAS Service</a>
    		</div>
			<ul class="nav navbar-nav" th:if="${#httpServletRequest.remoteUser == null}">
				<li>
					<a href="makeAppointment.html">
						Make appointment
					</a>
				</li>
				<li>
					<a href="login.html">
						Login
					</a>
				</li>
			</ul>


			<ul th:if="${#httpServletRequest.remoteUser != null}">

				<li>
					<a href="/">
						Home
					</a>
				</li>
				<li>
			</ul>
		</nav>
	</body>
</html>