<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>Check Appointment Status</title>
	</head>
	<body>
	<header th:replace="menu :: navigation"></header>
	<br/>
	<br/>
	<section id="contact">
		<div class="overlay">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Registration</span> Requests</h1>
				<div class="row">
					<div class="contact-form" id="requests">
						
					</div>
				</div>
				</div>
			</div>
	</section>

	<footer id="footer">
		<div class="container">
			<div class="copyright text-center">
				<p>&copy; University of Pretoria, Department of Computer Science</p>
			</div>
		</div>
	</footer>
	</body>
</html>