<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<object th:include="head :: header" th:remove="tag" />
		<title>Registration Requests</title>
	</head>
	<body>
	<header th:replace="menu :: navigation"></header>
	<section id="contact">
		<div class="overlay">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Registration</span> Requests</h1>
				<div class="row">
					<div class="contact-form">
						<form role="form" method="post">
							<div class="col-md-8 col-md-offset-2 wow fadeInRight" data-wow-delay="0.2s">
								<div class="controls" id="denyDiv">
									<p class="text-left">Deny All Requests:</p>
									<input type="Button" class="contact_input contactA" value="Deny all" id="DenyAll"/>
									<label for="DenyAll"><i class="fa fa-times"></i></label>
								</div>
								<br/>

								<div class="controls">
									<div id="requests">
										<h2 id="loadingRequests" class="section-title wow fadeIn"
											data-wow-delay=".2s"><span>Loading requests</span> Please wait...</h2>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="push"></div>
	</section>
	<object th:include="footer" th:remove="tag"/>


	<!-- Include Bootstrap plugin -->
	<script src="resources/assets/js/bootstrap.min.js"></script>
	<!-- One page Nav plugin -->
	<script src="resources/assets/js/jquery.nav.js"></script>
	<!-- Include Bootstrap plugin -->
	<script src="resources/assets/js/owl.carousel.js"></script>
	<!-- Include wow plugin -->
	<script src="resources/assets/js/wow.js"></script>
	<!-- Include mixitup plugin -->
	<script src="resources/assets/js/jquery.mixitup.js"></script>
	<!-- ScrollTop -->


	<!-- preset js -->
	<script src="resources/assets/js/style.changer.js"></script>
	<!-- Modernizr js -->
	<script src="resources/assets/js/modernizr-2.8.0.main.js"></script>
	<!-- Main js -->
	<script src="resources/assets/js/main.js"></script>
	<script src="resources/scripts/custom/registrationRequests.js"></script>
	</body>
</html>