<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <object th:include="head :: header" th:remove="tag" />
    <title>Create Report</title>
</head>
<body>
<nav th:replace="menu :: navigation"></nav>
<br/>
<div>
    <a href="#">
        <center><img class="img-responsive" src="/resources/css/images/Logo.png" alt="COSBAS Logo" width="300" /></center>
    </a>
</div>
<br/>
<div class="row">
    <div>
        <div class="cosbasLogin">
            <div class="text-center" id="signIn"><span class="glyphicon glyphicon-info-sign"></span> Request an appointment</div>
            <br/>
            <form method="post">
                <fieldset>
                    <div class="form-group">
                        <p class="text-left">Report Type:</p>
                        <select class="form-control" id="reportType" name="reportType">

                        </select>
                    </div>

                    <div class="form-group">
                        <p class="text-left">Staff ID:</p>
                        <select class="form-control" id="staffID" name="staffID">

                        </select>
                    </div>

                    <div class="form-group">
                        <p class="text-left">Between Dates: </p>
                        <p id="dateS">
                            <input type="text" class="date" id="dateTimeS"/>
                        </p>
                        <p class="text-left">And </p>
                        <p id="dateE">
                            <input type="text" class="date" id="dateTimeE"/>
                        </p>
                    </div>

                    <div class="form-group">
                        <p class="text-left">Status:</p>
                        <input class="form-control" type="text" id="status" name="status"/>
                    </div>

                    <br/>
                    <div>
                        <button type="submit" class="btn btn-sm btn-success" id="makeAppointmentRequest">Create Report</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>